.section {
    padding: 4rem 0 1rem 0;

    &__title {
        font-size: 1.25rem;
        color : var(--title-color);
        margin-bottom: 1rem;
        
        span {
            color: var(--primary-color);
        }
    }
}

.container {
    width: 90vw;
    max-width: 1450px;
    margin:  0 auto;
    display: grid;
    gap : 1.5rem
}
.svg {
    &__img {
        width: 400px;
        justify-self: center;
    }
}