.button {
    display: inline-block;
    background: var(--primary-color);
    padding: 0.75rem 1.5rem;
    color: #fff;
    border-radius: 3rem;
    &:hover {
        background: var(--container-color);
        color: var(--primary-color);
        transition: 0.5s;
        outline: 1px solid var(--primary-color);
    }
    &__header {
        display: none;
    }
    &__link {
        padding: 0.33rem 0.75rem;
        background: var(--container-color);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        &:hover {
        background: var(--primary-color);
            color: var(--container-color);
        }
    }
}