.header {
    position: fixed;
    width: 100%;
    background: var(--body-color);
    top: 0;
    right: 0;
    padding: 0.75rem 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
    }
    &__toggle {
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__menu {
        @media screen and (max-width : 767px) {
            position: fixed;
            background: var(--container-color);
            box-shadow: 0 0 4px rgba(0,0,0,0.1);
            top: -100%;
            left: 0;
            right: 0;
            width: 90%;
            margin: auto;
            border-radius: 2rem;
            padding: 2.5rem 0;
            transition: 0.4s;
        }
    }
    &__list {
        text-align: center;  
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;  
        align-items: center;
    }
    &__link ,
    &__logo,
    &__toggle {
        color : var(--title-color)
    }
}
.show-menu {
    top: 4rem;
}