.services {
    &__container {
        padding-top: 1rem;
    }
    &__info {
        text-align: center;
        display: grid;
        row-gap: 1rem;
        box-shadow: 0px 2px 6px hsla(var(--hue), 100%, 35%, 0.5);
        background: var(--container-color);
        padding: 2rem 1.5rem;
        // border-radius: 1rem 0 1rem 0;
        border-radius: 1.5rem 0;
    }
    &__icon {
        font-size: 2.5rem;
        color: var(--primary-color);
    }
}


.section__titlle {
    text-align: center;
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: 1rem;
}

